.main-section{
    background-color:rgb(248, 68, 100);
    height: 100%;
}
.card-create{
    border-radius: 15px;
    background-color:whitesmoke;
}

.create-event-btnctl{
    background-color:rgb(248, 68, 100);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2;
}
.create-event-btnctl:hover{
    background-color:rgb(228, 37, 72) ;
    color: white;
}
.create-event-btnctl:active ::after{
    background-color:rgb(228, 37, 72) ;
}
.create-event-main{
    background-color:rgb(248, 68, 100);
    overflow: auto;
    clear: both;

}