.edit-event{
    width: 100%;
    height: auto;
}
.edit-event h4{
    margin-top: 1rem;
    font-weight: 700;
}
.edit-event .card-section{
    margin-top: 2rem;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.edit-event .card-section::-webkit-scrollbar{
    display: none;
}
.edit-event .card-section .e-card{
    width: 28%;
    height: 15rem;
    background: #d2c9ef;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
}
.edit-event .card-section .e-card p{
    text-align: center;
    width: auto;
    height: 1.5rem;
    background: #9658bc;
    color: white;
    border-radius: .6rem;
    position: absolute;
    top: .5rem;
    left: .5rem;
}
.edit-event .card-section .e-card .img-box{
    width: 100%;
    height: 15rem;
}
.edit-event .card-section .e-card .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit-event .card-section .e-card .control-box{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, #987bf613 0%,#0f062e94 50%, #0e0723bc 100%);;
}
.edit-event .card-section .e-card .control-box button{
    width: 7rem;
    height: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: .5rem;
    font-weight: 700;
}
.edit-event .card-section .e-card .control-box button svg{
    width: 1.5rem;
    height: 1.5rem;
}
.edit-event .card-section .e-card .control-box .btn-update{
    border: none;
    background: #0411fb;
    color: #ffffff;
}
.edit-event .card-section .e-card .control-box .btn-delete{
    border: none;
    background: #fb0477;
    color: #ffffff;
}