.view-ticket{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
   
}

.view-ticket .view-ticket-main{
    display: flex;
    width:60rem;
    height: 60vh;
    background-color:whitesmoke;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: black;

}

.view-ticket .view-ticket-main .view-image{
    width:30%;
    height: 100%;
    background-color: rgb(248, 68, 100);
}

.view-ticket .view-ticket-main .view-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width:60%;

    
}

.view-ticket  button{
    background-color:rgb(248, 68, 100);
    color: white;
    height:3rem;
    width:8rem;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 35rem;
}

.view-ticket .view-ticket-main .view-image img{
    width:100%;
    height:100%;
    object-fit: fill;
}