*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width:100%;
    height:100vh;
    background-color: white;
    overflow-x:hidden;
    font-family: Roboto, sans-serif

}

.App::-webkit-scrollbar{
    display: none;
}